/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/
/.env
.env.*
.phpunit.result.cache
npm-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/
.env.testing
